.jiange {
  position: absolute;
  right: 0;
  color: #000;
}
.centers {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}
.left {
  width: 312px;
  background-color: #4c5e70;
  padding: 22px 14px;
  position: fixed;
  top: 70px;
  height: 100%;
}
.toux {
  width: 42px;
  height: 42px;
  border-radius: 5px;
  border: 0;
}
.conter {
  padding-top: 70px;
  margin-left: 340px;
  padding-left: 14px;
}
.topbar {
  width: 100%;
  height: 70px;
  background-color: #d5dde4;
  position: fixed;
  box-sizing: border-box;
  z-index: 2;
}
.corent {
  width: 1200px;
  height: 70px;
  /* background-color: red; */
  position: fixed;
  left: 50%;
  margin-left: -600px;
}
.search {
  width: 142px;
  height: 24px;
  position: absolute;
  left: 860px;
  top: 23px;
  border-radius: 10px;
}
.corent .search .searchInpt {
  width: 142px;
  height: 22px;
  border: 0;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.personal {
  width: 170px;
  height: 70px;
  /* background-color: red; */
  position: absolute;
  right: 0;
  top: 0;
}
.personal-left {
  width: 50px;
  position: relative;
}
.personal-right {
  width: 150px;
  position: absolute;
  right: 0;
  top: 0;
  height: 70px;
}
.personal-right:hover .xgzl {
  display: block;
}
.personal-right img {
  position: absolute;
  right: 0;
  top: 10px;
}
.personal-right span {
  font-size: 14px;
  position: absolute;
  left: 15px;
  top: 25px;
}
.xiala {
  position: absolute;
  left: 100px;
  top: 20px;
}
.el-icon-bell {
  position: absolute;
  line-height: 70px;
  margin-left: -15px;
  top: 24px;
}
.el-icon-search {
  position: absolute;
  right: 5px;
  top: 3px;
}
.shu {
  width: 1px;
  height: 26px;
  background-color: #666;
  position: absolute;
  right: 30px;
  top: 22px;
}
.min-logon {
  width: 340px;
  height: 70px;
  padding: 5px 120px;
}
.tab-centers {
  width: 540px;
  position: relative;
  top: -70px;
  height: 70px;
  left: 340px;
  /* background-color: red; */
}
a {
  color: #000;
}
.xgzl {
  position: absolute;
  font-size: 12px;
  width: 60px;
  height: 80px;
  top: 48px;
  left: 14px;
  background-color: #0094ff;
  border-radius: 5px;
  text-align: center;
  display: none;
  color: #fff;
  padding-top: 10px;
}
.el-menu-demo.el-menu {
  top: -10px;
  height: 70px;
  background-color: #d5dde4;
  color: #000;
}
.el-menu--horizontal .el-menu-item {
  height: 70px;
  line-height: 70px;
  width: 120px;
  padding: 0;
}
.el-menu--horizontal .el-submenu {
  width: 120px;
  padding: 0;
}
.el-menu--horizontal .el-submenu .el-submenu__title {
  height: 70px;
  line-height: 70px;
  padding: 0;
}
.el-menu-demo.el-menu--horizontal .el-submenu > .el-menu {
  top: 70px;
  min-width: 0px;
  width: 98px;
  overflow: hidden;
  padding-left: 10px;
}
.el-menu-demo.el-menu--horizontal .el-menu-item:hover {
  background-color: transparent;
}
.el-menu-demo.el-menu--horizontal .el-submenu .el-submenu__title:hover {
  background-color: transparent;
  /* border-bottom: 2px solid #0094ff; */
}
