.jiange {
  position: absolute;
  right: 0;
  color: #000;
}
.centers {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}
.left {
  width: 312px;
  background-color: #4c5e70;
  padding: 22px 14px;
  position: fixed;
  top: 70px;
  height: 100%;
}
.toux {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 0;
}
.conter {
  padding-top: 70px;
  margin-left: 340px;
  padding-left: 14px;
}
.topbar {
  width: 100%;
  height: 70px;
  background-color: #d5dde4;
  position: fixed;
  box-sizing: border-box;
  z-index: 2;
}
.corent {
  width: 1200px;
  height: 70px;
  /* background-color: red; */
  position: fixed;
  left: 50%;
  margin-left: -600px;
}
.personal {
  width: 170px;
  height: 70px;
  /* background-color: red; */
  position: absolute;
  right: 0;
  top: 0;
}
.personal-left {
  width: 50px;
  height: 70px;
  position: relative;
}
.personal-right {
  width: 150px;
  position: absolute;
  right: 0;
  top: 0;
  height: 70px;
  text-align: left;
}
.personal-right:hover .xgzls {
  transition: all 0.5s;
  height: 120px;
}
.personal-right img {
  position: absolute;
  right: 0;
  top: 10px;
}
.personal-right span {
  display: inline-block;
  font-size: 14px;
  position: absolute;
  left: 10px;
  top: 25px;
}
.xiala {
  position: absolute;
  left: 100px;
  top: 20px;
}
.personal-left .el-icon-bell {
  position: absolute;
  line-height: 70px;
  margin-left: -15px;
  /* top: 24px; */
}

.shu {
  width: 1px;
  height: 26px;
  background-color: #666;
  position: absolute;
  right: 30px;
  top: 22px;
}
.min-logon {
  width: 340px;
  height: 70px;
  padding: 5px 120px;
}
.tabs-centers {
  width: 660px;
  position: relative;
  top: -80px;
  height: 70px;
  left: 340px;
}
a {
  color: #000;
}
.xgzls {
  position: absolute;
  font-size: 12px;
  width: 150px;
  height: 0px;
  top: 70px;
  left: 0px;
  background-color: #d5dde4;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.xgzls p {
  height: 40px;
  line-height: 40px;
  margin: 0;
}
.xgzls p:hover {
  color: #0094ff;
  background-color: #e3edf6;
}
.tab-centers-ul {
  margin: 0;
  height: 70px;
  padding: 0;
}
.tab-centers-ul-li {
  width: 120px;
  height: 70px;
  float: left;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.home {
  border-bottom: 2px solid #0094ff;
  box-sizing: border-box;
}
.tab-centers-ul-li:nth-of-type(2):hover .point {
  transition: all 0.5s;
  height: 160px;
}
.point {
  width: 120px;
  height: 0px;
  overflow: hidden;
  position: absolute;
  left: 0;
  padding: 0;
  z-index: 2;
  background-color: #d5dde4;
}
.point-li {
  height: 40px;
  line-height: 40px;
}
.point-li:hover {
  background-color: #e3edf6;
  color: #0094ff;
  /* border-bottom: 1px solid #0094ff; */
  box-sizing: border-box;
}
.states {
  width: 120px;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  padding: 0;
  z-index: 2;
  background-color: #d5dde4;
}
.states-li {
  width: 120px;
  height: 40px;
  line-height: 40px;
}
.states-li:hover {
  background-color: #e3edf6;
  color: #0094ff;
}
.tab-centers-ul-li:nth-of-type(4):hover .states {
  transition: all 0.5s;
  height: 80px;
}
