html,
body,
.register,
.bg,
.bg table,
.bg td {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
.bg {
  position: fixed;
}
.bg div {
  height: 200%;
  left: -50%;
  position: absolute;
  top: -50%;
  width: 200%;
}
.bg td {
  text-align: center;
  vertical-align: middle;
}
.bg img {
  margin: 0 auto;
  min-height: 50%;
  min-width: 50%;
}
.signup {
  width: 368px;
  height: 390px;
  border-radius: 8px;
  background-color: #ffffff;
  margin-top: 28px;
  padding: 30px 28px;
}
.signup .title {
  width: 160px;
  height: 38px;
  margin: 0 auto;
  cursor: pointer;
}

.t01 {
  margin-right: 40px;
  padding-bottom: 8px;
  font-size: 22px;
  color: #4c5e70;
}
.signup-ul {
  margin: 0;
  padding: 0;
  margin-top: 36px;
  width: 368px;
  height: 294px;
}
.signup-ul-li {
  width: 368px;
  height: 40px;
  margin-bottom: 16px;
  position: relative;
}
.signup-ul-li label {
  width: 84px;
  height: 38px;
  line-height: 38px;
  float: left;
  text-align: right;
  font-size: 16px;
  color: #4c5e70;
}
.signup-ul-li input {
  width: 270px;
  height: 40px;
  padding-left: 8px;
  outline: none;
  position: absolute;
  right: 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.signup-ul-li .code {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 88px;
  height: 40px;
  background-color: #0094ff;
  line-height: 40px;
  padding: 0 6px;
  border-radius: 4px;
  letter-spacing: 2px;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
}
.signup-ul-li:nth-of-type(4) input {
  width: 160px;
  right: 110px;
}
.signupbutton {
  width: 176px;
  height: 40px;
}
.signup-ul-li:nth-of-type(5) {
  margin-top: 48px;
}
.action {
  color: #0094ff;
  border-bottom: 2px solid #0094ff;
  box-sizing: border-box;
}
